/*                      bogy. container + header + banner                       */

body{
    width: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    font-family: Abel;
    
}
.conteiner{
    max-width: 1440px;
    
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:baseline;
}
.content{
    flex-grow: 1;
}
header{
    padding: 15px 3%;
    display:flex;
    flex-direction: row;
    align-items:stretch;
    justify-content:space-between;
    text-align: justify;
}
.menu{
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin:0px;
    padding: 17px;
    
}
.item_menu{
    background-color: #d8d8d8;
    margin-right: 40px;
    min-width: 154px;
    min-height: 31px;
}
.item_menu:last-child{
    margin-right: 0px;
}
.boll{
    content: "";
    border-radius: 50%;
    height: 55px;
    width: 55px;
    background-color: #d8d8d8;
}
.bg_gray{
    background-color: #d8d8d8;
}
.bg_white{
    background-color: #fff;
}
.bg_black{
    background-color: black;
    color: white;
}
.banner{
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.banner_title{
    font-size: 60px;

}
.banner_text_about{
    font-size: 36px;
}
.banner_buttom{
    width: auto;
    margin-top: 29px;
    display: flex;
    flex-direction: row;
}
.button{
    width: 283px;
    height: 60px;
    padding: 12px 31px;

    margin-right: 25px;
    font-size: 26px;
}

/*                          container_up                       */

.container_up{
    padding: 80px 7%;
}
.container_up_unit{
    margin-right: 40px;
}
.container_up_unit:last-child{
    margin-right: 0px;
}
.container_up{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.contain_vis{
    min-width: 300px;
    height: 200px;
}
.about_contain{
    padding-right: 20px;
    text-align: left;
}
.about_contain p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
.text_gray{
    font-size: 18px;
    text-decoration: none;
    color: #787878;
}

/*                         form + container_down                                          */

.form{
    padding-top: 129px;
    padding-bottom: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.form_text{
    font-size: 35px;
    margin-bottom: 30px;
}
.form_input{
    padding: 0px;
    width: 695px;
    height: 60px;    
}
.form_input input, button{
    font-size: 26px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.form_input input{
    width: 60%;
    height: 100%;
}
.form_input button{
    width: 39%;
    height: 100%;
}
.contain_down{
    padding-right: 125px;
    padding-left: 125px;
    display:flex;
    flex-direction: column;
}
.contain_down_row{
    margin-top: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.contain_down_article{
    width: 49%;
    padding-top: 60px;
    font-size: 18px;
}
.text_left{
    padding-left: 60px; 
    padding-right: 20px;
    text-align: left;
}
.text_right{
    padding-right: 60px;
    padding-left: 20px;
    text-align: right;
}
.contain_vis_d{
    width: 49%;
    height: 386px;
}

/*                      centr button + footer                                           */

.center_button{
    margin: 80px;
    align-items: center;
}
footer{
    height: 415px;
    width: 100%;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}
hr{
    color: white;
    width: 70%;
    border: white 1px solid;
}
.soc_media{
    width: inherit;
    display: inline;
    text-align: center;
}
.soc_media img{
     margin: 50px;
}